body {
  color: cornflowerblue;
  font-family: sans-serif;
}


input {
  margin: 5px;
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-container {
  position: relative;
}

.image-container * {
  margin: 20px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.meme-header, .meme-footer {
  font-size: 40px;
}

.meme-header {
  z-index: 1;
}

.meme-footer {
  position: relative;
  z-index: 1;
  top: 250px;
}


.impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.arial {
  font-family: Arial, Helvetica, sans-serif
}

.bowlby {
  font-family: 'Bowlby One SC', cursive; 
}

.roboto {
  font-family: 'Roboto Slab', serif;
}

